@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Red+Hat+Mono&display=swap");

$text-font: "Red Hat Mono", monospace;
$text-color: white;
$text-color-muted: #aaa;

$bg-color-1: #e8cbc0;
$bg-color-2: #636fa4;

$color-blue: rgb(103, 138, 255);
